.About-content__aboutParagraphs {
    margin-bottom: 3rem;
}

.About-content__Save {
    margin-top: 3rem;
}

.About-content__homeLink {
    margin-bottom: 3rem;
}

.About-content__aboutParagraph {
    margin-bottom: 3rem;
}
