.Admin-nav {
    width: 95%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.Admin-nav__icon {
    padding: 1rem 6%;
}

.Admin-nav__icon:hover {
    background-color: lightgray;
}
