
.Skills h2 {
    text-align: left;
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 5rem;
    border-bottom: 1px solid black;
}

.Skills-content {
    display: inline-block;
    padding-left: 4rem;
}

@media only screen and (max-width: 480px) {
   .Skills h2 {
       text-align: center;
   }

    .Skills-content {
        display: inline-block;
        padding-left: 1rem;
    }

}