.Skills {
    margin: 0 3rem;
}

.Skills h2 {
    text-align: center;
    padding-top: 5rem;
}

.Skills-content:first-child {
    padding-left: 0;
}

.Skills-row {
    border-top: 1px solid black;
}


@media only screen and (min-width: 480px) {
   .Skills h2 {
       text-align: left;
   }

   .Skills-content {
       display: inline-block;
       padding-left: 3rem;
   }
}