.App {
    text-align: center;
    min-height: 100vh;
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App-header {
    min-height: 10rem;
    font-size: 3rem;
    font-family: 'Luckiest Guy', cursive;
    background-color: lightblue;
    min-width: 21.5rem;
}

.App-header__text {
    margin: 0;
    padding-top: 3%;
}

.App-content {
    max-width: 60rem;
    margin: auto;
}

.App-footer {
    background-color: lightblue;
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1.5rem;
}

.App-footer__text {
    padding-right: 1rem;
    margin: 0;
}
