.CRUDHome-content {
    margin-bottom: 3rem;
}

.CRUDHome-content__input {
    resize: none;
}

.CRUDHome-content--Save {
    margin-top: 3rem;
}

.CRUDHome-content__skill {
    margin-bottom: 3rem;
}