.CRUDAbout-content {
    margin-bottom: 3rem;
}

.CRUDAbout-content__backgroundParagraphs {
    margin-bottom: 3rem;
}

.CRUDAbout-content__Save {
    margin-top: 3rem;
}

.CRUDAbout-content__homeLink {
    margin-bottom: 3rem;
}

.CRUDAbout-content__backgroundParagraph {
    margin-bottom: 3rem;
}
